# Default behavior
* text=auto eol=lf

# Source code
*.cs        text diff=csharp
*.gd        text
*.tscn      text
*.tres      text
*.gdshader  text
*.cfg       text
*.json      text
*.yml       text
*.yaml      text
*.md        text
*.sh        text eol=lf
*.ps1       text eol=crlf

# Binary
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.ico       binary
*.webp      binary
*.svg       text
*.ttf       binary
*.otf       binary
*.wav       binary
*.ogg       binary
*.mp3       binary
*.glb       binary
*.gltf      text
*.blend     binary
